.foot
{
    width: 100%;
    height: 260px;
    background-color: rgb(43, 44, 50);
}
.prison
{
    margin-left: 118px;
    margin-top: 111px;
}
.cont
{
    width: 210px;
    height: 220px;
    margin-left: 5in;
    margin-top: -79px;
}
.footext
{
    color: white;
    font-size: small;
}
.control
{
    width: 170px;
    height: 220px;
    margin-left: 9in;
    margin-top: -221px;
}